/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul,ol {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1,900 & family= Rubik+Pixels & display=swap');

body{
    background-color: #fbfbfb;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;

}


p{
  /*espacio entre parrafos de 20px*/
}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
    font-size: 28px;
    text-align: center;
}


.cv{
    font-size: 20px;
    background-color: #af599e;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: #af599e;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
}

#nombre{
    background-color: #af599e;
    text-align: center;
}


.contactos{
    color: #0f0f0f;
}

#hablemos{
    background-color:  rgba(175, 89, 158, 0.3);
    border-radius: 60px;
    text-align: center;
    margin-bottom: 20%;
}

#inicio{
    text-align: center;
    margin-bottom: 20%;
}

#logonombre{
    width: 100%;
    max-width: 350px;
    margin right:5px;
}

#stefany{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 50%;

}

header{
    height: 90px;
    margin-bottom: 10%;
}

footer{
    position: absolute;
    height: 90px;
    width: 100%;
}

nav ol{
    list-style: none;
    margin: 50px;
    padding: 0;
    display: flex;
}

nav li{
    margin-right: 20px;
}

.menú{
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color:aqua;
}

nav{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cont{
    width: 100%;
    max-width: 300px;
}



/*#iconogit{
    margin: 150px;
}

#iconowp{
    margin:70px;
}

#iconomail{
    margin:150px;
}

/*preguntas: como generar un enlace o una ruta para mi cv,
como colocar el espacio entre parrafos de 20px sin que se me desface la pagina ,
como colocar el alto del header sin que se me suba la imagen de presentación, y como dejar el header fijo.
como generar el enlace de mi correo
como trabajr desde la versión responsive sin afectar